name: Publish Package to PyPI

on:
  push:
    # Publica cuando se crea una etiqueta que comience con "v"
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    # Asigna el entorno configurado (opcional pero recomendado)
    environment:
      name: pypi
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch full history to ensure tag is available

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install build dependencies
        run: |
          pip install --upgrade pip
          pip install build

      - name: Build package distribution
        run: python -m build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.12.4
        with:
          password: ${{ secrets.PIPL_TOKEN }}