name: Publish Package to PyPI

on:
  push:
    # Publica cuando se crea una etiqueta que comience con "v"
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    # Asigna el entorno configurado (opcional pero recomendado)
    environment:
      name: pypi
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install build dependencies
        run: |
          pip install --upgrade pip
          pip install build

      - name: Build package distribution
        run: python -m build

      - name: Publish package to PyPI using OIDC
        uses: pypa/gh-action-pypi-publish@v1.12.4
        with:
          user: __token__
          # Con OIDC, el action obtiene el token mediante el id-token de GitHub Actions;
          # no es necesario un secret de PyPI.
          # password: ${{ steps.pypi-token.outputs.token }}
          password: ${{ secrets.PIPL_TOKEN }}
        env:
          PYPI_PROJECT_NAME: "firestore-pydantic-odm"
          PYPI_OWNER: "santosdevco"
          PYPI_REPOSITORY: "firestore-pydantic-odm"
          PYPI_WORKFLOW: "workflow.yml"
